* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}
a:visited {
  text-decoration: none;
  color: #3f464d;
}
a:active {
  text-decoration: none;
  color: #3f464d;
}
a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
}

header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2em;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2em;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}
