* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: rgb(7, 36, 61);
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: rgb(7, 36, 61);
}

a:active {
  text-decoration: none;
  color: rgb(7, 36, 61);
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(253, 253, 241);
  position: fixed;
  /* 문서 상단 고정*/
  top: 0;
  left: 0;
  z-index: 1000;
  /* 우선순위 설정 */
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .head-author {
  font-weight: normal;
  font-size: 1rem;
}

.head-container .head-author a:hover {
  font-weight: bold;
  color: rgb(32, 97, 153);
  cursor: pointer;
}

.head-container .head-blog a:hover {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(32, 97, 153);
  cursor: pointer;
}

.head-container .head-side a:hover {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(32, 97, 153);
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #ffff;
  position: relative;
}

.main {
  height: 200px;
  background-image: url(/img/backgroundimageprogramming.jpg);
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.85;
}

.main-container {
  width: 100%;
  height: 100%;
  background-image: url();
  background-size: cover;
  background-position: center -100%;
  z-index: 2;
  margin-top: 60px;
  text-align: start;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  padding-bottom: 10px;
  text-align: right;
  height: 170px;
}

.message {
  font-size: 1.4rem;
  color: #fff;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill {
  width: 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  /*box-shadow : 투명한 블럭에 그림자 적용*/
  box-shadow: 10px 10px 5px -5px rgba(25, 42, 70, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.skill:hover {
  transform: translate(0, -4px);
}

.skill a:hover {
  opacity: 0.8;
}

.skill-icon {
  font-size: 2.5rem;
}

.skill-title {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 3px;
}

.skill-usage {
  font-size: 0.9rem;
}

.react-style {
  color: rgb(27, 86, 248);
}

.js-style {
  color: rgb(172, 172, 0);
}

.web-style {
  color: rgb(88, 88, 88);
}

.server-style {
  color: rgb(7, 36, 61);
}

.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roadmap-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 44);
}

.slide-prev {
  cursor: pointer;
  color: rgb(190, 190, 190);
}

.slide-next {
  cursor: pointer;
  color: rgb(0, 0, 44);
}

.class-list {
  display: flex;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0 0 10px 0;
  overflow: hidden;
}

.class-card {
  width: 240px;
  box-shadow: 10px 10px 5px -5px rgba(25, 42, 70, 0.2);
  border-radius: 0px;
  margin: 0 10px;
  transition: 0.4s;
  flex-shrink: 0;
}

.class-card:hover {
  box-shadow: 10px 10px 5px 0px rgba(25, 42, 70, 0.2);
  transform: translate(0, -4px);
  cursor: pointer;
}

.class-image {
  width: 100%;
  height: 150px;
  /* border-radius: 블럭 모서리를 둥글게 하는 CSS 기능
      | top-left | top-right | bottom-right | bottom-left */
  border-radius: 8px 8px 0px 0px;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-type {
  font-size: 0.9rem;
  color: #949393;
}

.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: #0d47a1;
  padding: 0.2rem;
}

.class-desc {
  width: 100%;
  margin-top: 1rem;
}

.class-title {
  font-weight: bold;
  color: #545e6f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  padding-bottom: 10px;
  line-height: 1.5rem;
}

meter {
  width: 208px;
}

#white1 {
  background-color: whitesmoke;
}

#whiteback {
  background-color: whitesmoke;
}

.roadmap-desc {
  display: visible;
}

footer {
  border-top: 1px solid #e4e4e4;
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-message {
  font-weight: bold;
  color: #545e6f;
  margin: 0.3rem 1rem;
}

.footer-contact {
  color: #545e6f;
  margin: 0.3rem 1rem;
}

.footer-copyright {
  color: #545e6f;
  margin: 0 1rem;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 810px) {
  .skill-container {
    display: none;
  }

  .roadmap-desc {
    display: none;
  }
}