* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

/* a 링크 태그 스타일 초기화 */
a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
  height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
  margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
  padding: 0rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 필요시 세부 설정을 위해, 상단 좌측 브랜드만을 별도로 클래스로 정의 */
.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

/* 필요시 세부 설정을 위해, 상단 우측 메뉴만을 별도로 클래스로 정의 */
.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.main {
  height: 360px; /* 화면 이미지 고정 */
  background-image: url("https://www.fun-coding.org/assets_lms/images/photodune-4161018-group-of-students-m.jpg");
  background-size: cover;
  background-position: center 10%; /* 이미지 위치를 살짝 위로 올리기 위한 position 설정 */
  background-repeat: no-repeat;
  z-index: 1;
}

/* 배경 이미지에 색상을 어둡게 하기 위해, 어두운 색상으로 이미지 상위에 투명도를 주어 덮어씌움 */
.main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 89);
  opacity: 0.8;
  z-index: 2;
  margin-top: 60px; /* position 이 fixed 일 경우, 문서 흐름에서 빠지므로, 이 부분은 margin 으로 적용 */
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}

.message {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
  line-height: 2rem;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
     https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow 
     offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
}

.skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
}

.python-style {
  color: #2186c4;
}

.analysis-style {
  color: #ff8066;
}

.ai-style {
  color: #f7df1e;
}

.vue-style {
  color: #2e7d32;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
